p {
  font-family: 'Josefin Sans', sans-serif;
}

.intro-text {
  font-family: 'Bungee Inline', cursive;
  color: #4527a0;
  opacity: .7;
}

.kc-blurb {
  font-family: 'Josefin Sans', sans-serif;
  color: #4527a0;
  opacity: .7;
}

.i-am {
  padding: 0 20%;
}

.intro-section {
  background-image: url(assets/icopattern.png);
  background-repeat: repeat;
  height: 18em;
  opacity: .3;
}
#about i {
  margin: .5em 0;
}

.card .card-image img {
  height: 15em;
}

i.tiny.material-icons {
    vertical-align: middle;
    display: inline;
    font-size: 1rem;
    color: #4527a0;
}

.side-nav li>a>i.material-icons.kc-mobile-i  {
  float: none;
}